body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

header > a {
  font-size: 3.5rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav {
  display: block;
  text-align: center;
}

nav > ul {
   display: inline-block;

  }


nav > ul > li {
  display: inline-block;
  /* border: 3px solid black; */
}

nav > ul > li > a {
  display: block;
  padding: 0 20px;
  font-weight:bold;
}

nav > ul > li :hover {
  color: red;
}

body > aside {
  
  margin: 30px 150px;  
  display: block;
  /* border: 3px solid black; */
  
}

body > aside > .imgTable {
  position: relative;
  /* border: 3px solid yellow; */
  width: 350px;
  height: 450px;
}

body > aside > .imgTable > img {
   transition: transform .5s; 
   transform:scale(1.0);  
  width: 350px;
  height: 450px;
  cursor: pointer;
}

body > aside > .imgTable > img:hover  {
  transform:scale(1.1);
  transition: transform .5s;
  opacity : 0.7;
  filter: brightness(40%);

}

.object {
  display: inline-block;
  /* border: 2px solid red; */
  text-align: center;
  display: none;
  font-weight: bold;
  position: absolute;
  left: 35px;
  top: 75px;
  
}

.imgTable:hover > .object{
  display: block;
  color:white;

}

.object:hover img:has(.imgTable){
  transform:scale(1.1);
  opacity : 0.7;
  filter: brightness(40%);
}
