html {
  scroll-behavior: smooth;
}

body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

header > a {
  font-size: 3.5rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.topButton {
  position: fixed;
  right: 7%;
  bottom: 10%;
  
}

.topButton > a {
  padding: 10px;
  scroll-snap-type: mandatory;
}

/* 네비 영역 */
nav {
  text-align: center;
  /* border: 3px solid black; */
}

nav > ul {
  display: inline-block;
  padding: 0 20px;  
}

nav ul {
  background-color: #fff;
  
}

nav  ul > li {
  display: inline-block;
  position: relative;

    
  }

nav ul > li > a {
  /* border: 1px solid black; */
  display: block;
  padding: 0 20px;
  font-weight:bold;
  white-space: nowrap;
}

nav ul > li:hover > a  {
  color: gainsboro;
}

nav > ul ul {
  /* border: 1px solid black; */
  position: absolute;
  display: none;
  top: 100%;
  left: 10%;
}

nav > ul > li > ul {
  padding-top: 7px;
} 

nav ul ul ul {
  top: 0;
  left:  100%;
}
/*  */

nav ul > li:hover > ul  {
  display: block;
}

nav ul ul li {

}

body > aside {
  
  margin: 150px 150px;  
  display: block;
  border: 3px solid black;
  
}

body > aside > .imgTable {
  margin: 5px auto;
  display: inline-block;
  position: relative;
  /* border: 3px solid yellow; */
  width: 32%;
  height: 450px;
  left: 13px;
  overflow: hidden;
}


body > aside > .imgTable > img {
   transition: transform .5s; 
   transform:scale(1.0);
   /* position: absolute;   */
   display: block;
   margin: auto auto;
  width: 90%;
  height: 100%;
  cursor: pointer;
}

body > aside > .imgTable > img:hover  {
  transform:scale(1.1);
  transition: transform .5s;
  opacity : 0.7;
  filter: brightness(40%);
  z-index: 1;
}

.object {
  display: inline-block;
  /* border: 2px solid red; */
  text-align: center;
  display: none;
  font-weight: bold;
  position: absolute;
  left: 29%;
  top: 25%;
  
}

.imgTable:nth-child(1) > .object {
  margin-left: 27px;

}

.imgTable:hover > .object{
  display: block;
  color:white;
  position: absolute;
  z-index: 1;

}

.imgTable:nth-child(5),
.imgTable:nth-child(6),
.imgTable:nth-child(7) {
  margin-top: 40px;
}

/* 
.object:hover {
  transform:scale(1.1);
  opacity : 0.7;
  filter: brightness(40%);
} */
